<%- include('./header') %>
    <div class="jumbotron">
        <h1>Express-React-Redux-Typescript Sample</h1>
        <p class="lead">This is the sample application!</p>
        <a class="btn btn-large btn-success" href="/sample">React Sample</a>
        <a class="btn btn-large btn-success" href="/taskManager">Task Manager</a>
        <a class="btn btn-large btn-success" href="/cart">Redux Sample</a>
    </div>
    <div id="color"></div>
    <script src="/js/color-sample.js"></script>
<%- include('./footer') %>